<div class="nav-container">

    <div class="nav-container__main">
        <div>
            <img id="header-watch-logo" src="../../assets/images/pocket-watch-icon.png" alt="watch-icon">
            <span>WatchOUT!</span>
        </div>

        <div>
            <input type="text">
            <button><img src="../../assets/icons/search_black_24dp.svg" alt="Search"></button>
        </div>

        <div>
            <img src="../../assets/icons/account_circle_white_24dp.svg" alt="Login-Register">
            <a routerLink="auth/login">Login or Register</a>
        </div>
    </div>

    <nav>
        <ul>
            <li><a routerLink="">Home</a></li>
            <li><a routerLink="watches">Watches</a></li>
            <li><a routerLink="sell-watch">Sell a watch</a></li>
        </ul>
    </nav>

</div>