<section class="register-wrapper">
    <div class="register-wrapper__content">
        <p>
            Register
        </p>

        <form action="" method="POST">
            <label for="email">Email</label>
            <input type="text" name="email">

            <label for="password">Password</label>
            <input type="password" name="password">

            <label for="repeatPassword">Repeat password</label>
            <input type="password" name="repeatPassword">

            <label for="firstName">First name</label>
            <input type="text" name="firstName">

            <label for="lastName">Last name</label>
            <input type="text" name="lastName">

            <button type="submit">Register</button>
        </form>
    </div>

</section>