<div class="watches-wrapper">
    
    <aside>
        <ul>
            <li>
                Omega
            </li>
            <li>
                Rolex
            </li>
            <li>
                Seiko
            </li>
        </ul>
    </aside>
    
    <section class="watches-wrapper__cards">
        <div class="watch-card">
            <img src="../../../assets/carousel-watches/Seiko-2022-1920x554.webp" alt="watch">
            <p>Watch name</p>
            <p>Watch price</p>
            <p>Watch price</p>
            <button>Checkout watch</button>
        </div>
    
        <div class="watch-card">
            <img src="../../../assets/carousel-watches/Seiko-2022-1920x554.webp" alt="watch">
            <p>Watch name</p>
            <p>Watch price</p>
            <p>Watch price</p>
            <button>Checkout watch</button>
        </div>

        <div class="watch-card">
            <img src="../../../assets/carousel-watches/Seiko-2022-1920x554.webp" alt="watch">
            <p>Watch name</p>
            <p>Watch price</p>
            <p>Watch price</p>
            <button>Checkout watch</button>
        </div>

        <div class="watch-card">
            <img src="../../../assets/carousel-watches/Seiko-2022-1920x554.webp" alt="watch">
            <p>Watch name</p>
            <p>Watch price</p>
            <p>Watch price</p>
            <button>Checkout watch</button>
        </div>

        <div class="watch-card">
            <img src="../../../assets/carousel-watches/Seiko-2022-1920x554.webp" alt="watch">
            <p>Watch name</p>
            <p>Watch price</p>
            <p>Watch price</p>
            <button>Checkout watch</button>
        </div>
    </section>

</div>