<section class="watch-form-wrapper">
    <form action="" method="">
        <label for="brand">Brand</label>
        <input type="text" name="brand">

        <label for="model">Model</label>
        <input type="text" name="model">

        <label for="year">Year</label>
        <input type="number" name="year">

        <label for="movement">Movement</label>
        <input type="text" name="movement">

        <label for="image">Image</label>
        <input type="text" name="image">

        <label for="description">Description</label>
        <textarea name="description"></textarea>

        <button type="submit">Post watch for sale</button>
    </form>
</section>