<h3>Last added watches</h3>

<div class="watches-wrapper">
    <div class="watches-wrapper__card">
        <img src="../../../assets/carousel-watches/795912.jpeg" alt="watch">
        <div>
            <h5>Watch name</h5>
            <p>Watch description</p>
            <p>Watch price</p>
        </div>
    </div>

    <div class="watches-wrapper__card">
        <img src="../../../assets/carousel-watches/795912.jpeg" alt="watch">
        <div>
            <h5>Watch name</h5>
            <p>Watch description</p>
            <p>Watch price</p>
        </div>
    </div>

    <div class="watches-wrapper__card">
        <img src="../../../assets/carousel-watches/795912.jpeg" alt="watch">
        <div>
            <h5>Watch name</h5>
            <p>Watch description</p>
            <p>Watch price</p>
        </div>
    </div>

</div>