<footer>
    
    <div class="main-footer">

        <div class="main-footer__about-us">
            <ul>
                <li><a href="#">About us</a></li>
                <li><a href="#">News</a></li>
            </ul>
        </div>

        <div class="main-footer__clients">
            <ul>
                <li><a href="#">Lease terms</a></li>
                <li><a href="#">Terms and conditions</a></li>
                <li><a href="#">Return policy</a></li>
            </ul>
        </div>
        
        <div class="main-footer__contacts">
            <li><a href="#">Phone...    </a></li>
            <li><a href="#">Email...</a></li>
            <li><a href="#">Address...</a></li>
        </div>
    
    </div>

    <div class="bottom-footer">
        &copy; All rights reserved! WatchOUT!
    </div>

</footer>

